header {
    width: 100%;
    z-index: 1;
}

.btn-style {
    display: inline-block;
    width: 100px;

    background-color: black;
    border: 1px solid white;
    color: white;
    text-align: center;
}

.logo-brand {
    font-size: 25px;
    text-decoration: none;
    color: black;
}
.logo-brand:hover {
    font-size: 25px;
    text-decoration: none;
    color: black;
}
.a:hover {
    text-decoration: none;
    color: inherit;
}