#dishes {
    height: 100%;
    overflow-y: scroll;
    padding: 5rem;
    
    h4 {
        background-color: rgba(240, 240, 240, 0.8);
        padding: 1rem;
        margin-bottom: 0;
        border-bottom: 1px solid gray;
    }
    tr {
        height: 50px;
        .cover {
            height: 100%;
            img {
                height: 50px;
                width: 50px;
            }
        }
    }
    .table {
        background-color: rgba(255, 255, 255, 0.8);
    }
}
