#links {
    background-color: black;
    height: 100%;
    padding-right: 0;
    padding-left: 0;
    hr {
        margin: 0;
    }
    .user {
        padding: 1rem;

        a {
            color: black;
        }
    }
    .user-name {
        display: inline-block;
        padding: 0.3rem 01rem;
        background-color: white;
        opacity: 1;
        border-radius: 1rem;
        margin-top: 0.5rem;
    }
    a.user-name {
        margin-top: 1rem;
    }

    a.link {
        display: flex;
        align-items: center;
        height: 4rem;
        font-size: larger;
        color: #d0eb99;
        &:hover {
            background-color: #00ccbc;
            opacity: 0.9;
            text-decoration: none;
        }
        i {
            margin: 0 1.5rem 0 1.5rem;
            color: #d0eb99;
        }
    }
}

.active {
    background-color: #00ccbc;
}
