#register {
    height: 100%;
    padding: 5rem;
    .card {
        overflow-y: scroll;
    }
    // form {
    //     padding: 2rem;
    // }
    img {
        height: 50px;
        width: 50px;
    }
}
