#statistics {
    padding: 5rem;
    display: flex;
    justify-content: center;
    .graph {
        width: 80%;
        height: 80%;

        canvas {
            width: 50%;
            height: 50%;
        }
    }
}
